#container {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgb(121, 190, 255),
    white,
    rgb(109, 182, 241)
  );
  display: grid;
  grid: 2fr 1fr 12fr 1fr / 4fr 4fr 1fr 3fr;
  grid-template-areas:
    '. . . .'
    '. search . button'
    '. table . filters'
    '. . . .';
}

@media (max-width: 1040px) {
  html {
    font-size: 90%;
  }

  #container {
    grid: 2fr 1fr 10fr 3fr / 3fr 5fr 5fr 3fr;
    grid-template-areas:
      '. . . .'
      '. search search .'
      '. table table .'
      '. button filters .';
  }
}
