#container {
  margin: auto;
  width: 40%;
  height: 100vh;
  border: 1px solid black;
  display: grid;
  grid: repeat(10, 1fr) / 1fr 2fr 1fr;
  grid-template-areas:
    '. . .'
    '. search .'
    '. filter .'
    '.  table .'
    '.  table .'
    '.  table .'
    '.  table .'
    '.  table .'
    '.  table .'
    '. . .';
  align-items: start;
}
