.show-filters-button {
  grid-area: button;
  align-self: end;
  justify-self: start;
  width: 3rem;
  height: 3rem;
  background: url('https://library.kissclipart.com/20190912/wlq/kissclipart-adjust-icon-configuration-icon-filter-icon-bb04dfd66683ff54.png')
    no-repeat;
  background-size: 100%;
  border-radius: 0.5rem;
  outline: none;
}

@media (max-width: 1040px) {
  .show-filters-button {
    align-self: start;
    justify-self: end;
  }
}

@media (max-width: 700px) {
  .show-filters-button {
    justify-self: end;
  }
}
